<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STEP_1</key>
	<array>
		<string>BRUSH</string>
		<string>Sign_1_1.jpg</string>
		<string>Sign_1_2.jpg</string>
		<string>Sign_1_3.jpg</string>
		<string>Sign_1_4.jpg</string>
	</array>
	<key>STEP_2</key>
	<array>
		<string>SLICE</string>
		<string>Sign_2_1.jpg</string>
		<string>Sign_2_2.jpg</string>
		<string>Sign_2_3.jpg</string>
		<string>Sign_2_4.jpg</string>
	</array>
	<key>STEP_3</key>
	<array>
		<string>CUT</string>
		<string>Sign_3_1.jpg</string>
		<string>Sign_3_2.jpg</string>
		<string>Sign_3_3.jpg</string>
		<string>Sign_3_4.jpg</string>
	</array>
	<key>STEP_4</key>
	<array>
		<string>SURF</string>
		<string>Sign_4_1.jpg</string>
		<string>Sign_4_2.jpg</string>
		<string>Sign_4_3.jpg</string>
		<string>Sign_4_4.jpg</string>
	</array>
	<key>STEP_5</key>
	<array>
		<string>WINE</string>
		<string>Sign_5_1.jpg</string>
		<string>Sign_5_2.jpg</string>
		<string>Sign_5_3.jpg</string>
		<string>Sign_5_4.jpg</string>
	</array>
	<key>STEP_6</key>
	<array>
		<string>CHAIN</string>
		<string>Sign_6_1.jpg</string>
		<string>Sign_6_2.jpg</string>
		<string>Sign_6_3.jpg</string>
		<string>Sign_6_4.jpg</string>
	</array>
	<key>STEP_7</key>
	<array>
		<string>DRAIN</string>
		<string>Sign_7_1.jpg</string>
		<string>Sign_7_2.jpg</string>
		<string>Sign_7_3.jpg</string>
		<string>Sign_7_4.jpg</string>
	</array>
	<key>STEP_8</key>
	<array>
		<string>DRILL</string>
		<string>Sign_8_1.jpg</string>
		<string>Sign_8_2.jpg</string>
		<string>Sign_8_3.jpg</string>
		<string>Sign_8_4.jpg</string>
	</array>
	<key>STEP_9</key>
	<array>
		<string>SPIRAL</string>
		<string>Sign_9_1.jpg</string>
		<string>Sign_9_2.jpg</string>
		<string>Sign_9_3.jpg</string>
		<string>Sign_9_4.jpg</string>
	</array>
	<key>STEP_10</key>
	<array>
		<string>STEEL</string>
		<string>Sign_10_1.jpg</string>
		<string>Sign_10_2.jpg</string>
		<string>Sign_10_3.jpg</string>
		<string>Sign_10_4.jpg</string>
	</array>
	<key>STEP_11</key>
	<array>
		<string>SALT</string>
		<string>Sign_11_1.jpg</string>
		<string>Sign_11_2.jpg</string>
		<string>Sign_11_3.jpg</string>
		<string>Sign_11_4.jpg</string>
	</array>
	<key>STEP_12</key>
	<array>
		<string>PEPPER</string>
		<string>Sign_12_1.jpg</string>
		<string>Sign_12_2.jpg</string>
		<string>Sign_12_3.jpg</string>
		<string>Sign_12_4.jpg</string>
	</array>
	<key>STEP_13</key>
	<array>
		<string>FOSSIL</string>
		<string>Sign_13_1.jpg</string>
		<string>Sign_13_2.jpg</string>
		<string>Sign_13_3.jpg</string>
		<string>Sign_13_4.jpg</string>
	</array>
	<key>STEP_14</key>
	<array>
		<string>SCREW</string>
		<string>Sign_14_1.jpg</string>
		<string>Sign_14_2.jpg</string>
		<string>Sign_14_3.jpg</string>
		<string>Sign_14_4.jpg</string>
	</array>
	<key>STEP_15</key>
	<array>
		<string>BOLT</string>
		<string>Sign_15_1.jpg</string>
		<string>Sign_15_2.jpg</string>
		<string>Sign_15_3.jpg</string>
		<string>Sign_15_4.jpg</string>
	</array>
	<key>STEP_16</key>
	<array>
		<string>NUT</string>
		<string>Sign_16_1.jpg</string>
		<string>Sign_16_2.jpg</string>
		<string>Sign_16_3.jpg</string>
		<string>Sign_16_4.jpg</string>
	</array>
	<key>STEP_17</key>
	<array>
		<string>SWIM</string>
		<string>Sign_17_1.jpg</string>
		<string>Sign_17_2.jpg</string>
		<string>Sign_17_3.jpg</string>
		<string>Sign_17_4.jpg</string>
	</array>
	<key>STEP_18</key>
	<array>
		<string>KNIFE</string>
		<string>Sign_18_1.jpg</string>
		<string>Sign_18_2.jpg</string>
		<string>Sign_18_3.jpg</string>
		<string>Sign_18_4.jpg</string>
	</array>
	<key>STEP_19</key>
	<array>
		<string>FORK</string>
		<string>Sign_19_1.jpg</string>
		<string>Sign_19_2.jpg</string>
		<string>Sign_19_3.jpg</string>
		<string>Sign_19_4.jpg</string>
	</array>
	<key>STEP_20</key>
	<array>
		<string>SILVER</string>
		<string>Sign_20_1.jpg</string>
		<string>Sign_20_2.jpg</string>
		<string>Sign_20_3.jpg</string>
		<string>Sign_20_4.jpg</string>
	</array>
	<key>STEP_21</key>
	<array>
		<string>WHITE</string>
		<string>Sign_21_1.jpg</string>
		<string>Sign_21_2.jpg</string>
		<string>Sign_21_3.jpg</string>
		<string>Sign_21_4.jpg</string>
	</array>
	<key>STEP_22</key>
	<array>
		<string>BLACK</string>
		<string>Sign_22_1.jpg</string>
		<string>Sign_22_2.jpg</string>
		<string>Sign_22_3.jpg</string>
		<string>Sign_22_4.jpg</string>
	</array>
	<key>STEP_23</key>
	<array>
		<string>PINK</string>
		<string>Sign_23_1.jpg</string>
		<string>Sign_23_2.jpg</string>
		<string>Sign_23_3.jpg</string>
		<string>Sign_23_4.jpg</string>
	</array>
	<key>STEP_24</key>
	<array>
		<string>ORANGE</string>
		<string>Sign_24_1.jpg</string>
		<string>Sign_24_2.jpg</string>
		<string>Sign_24_3.jpg</string>
		<string>Sign_24_4.jpg</string>
	</array>
	<key>STEP_25</key>
	<array>
		<string>PURPLE</string>
		<string>Sign_25_1.jpg</string>
		<string>Sign_25_2.jpg</string>
		<string>Sign_25_3.jpg</string>
		<string>Sign_25_4.jpg</string>
	</array>
	<key>STEP_26</key>
	<array>
		<string>GOLD</string>
		<string>Sign_26_1.jpg</string>
		<string>Sign_26_2.jpg</string>
		<string>Sign_26_3.jpg</string>
		<string>Sign_26_4.jpg</string>
	</array>
	<key>STEP_27</key>
	<array>
		<string>YELLOW</string>
		<string>Sign_27_1.jpg</string>
		<string>Sign_27_2.jpg</string>
		<string>Sign_27_3.jpg</string>
		<string>Sign_27_4.jpg</string>
	</array>
	<key>STEP_28</key>
	<array>
		<string>RED</string>
		<string>Sign_28_1.jpg</string>
		<string>Sign_28_2.jpg</string>
		<string>Sign_28_3.jpg</string>
		<string>Sign_28_4.jpg</string>
	</array>
	<key>STEP_29</key>
	<array>
		<string>GREEN</string>
		<string>Sign_29_1.jpg</string>
		<string>Sign_29_2.jpg</string>
		<string>Sign_29_3.jpg</string>
		<string>Sign_29_4.jpg</string>
	</array>
	<key>STEP_30</key>
	<array>
		<string>BONE</string>
		<string>Sign_30_1.jpg</string>
		<string>Sign_30_2.jpg</string>
		<string>Sign_30_3.jpg</string>
		<string>Sign_30_4.jpg</string>
	</array>
	<key>STEP_31</key>
	<array>
		<string>ACID</string>
		<string>Sign_31_1.jpg</string>
		<string>Sign_31_2.jpg</string>
		<string>Sign_31_3.jpg</string>
		<string>Sign_31_4.jpg</string>
	</array>
	<key>STEP_32</key>
	<array>
		<string>WALL</string>
		<string>Sign_32_1.jpg</string>
		<string>Sign_32_2.jpg</string>
		<string>Sign_32_3.jpg</string>
		<string>Sign_32_4.jpg</string>
	</array>
	<key>STEP_33</key>
	<array>
		<string>CLAP</string>
		<string>Sign_33_1.jpg</string>
		<string>Sign_33_2.jpg</string>
		<string>Sign_33_3.jpg</string>
		<string>Sign_33_4.jpg</string>
	</array>
	<key>STEP_34</key>
	<array>
		<string>WRAP</string>
		<string>Sign_34_1.jpg</string>
		<string>Sign_34_2.jpg</string>
		<string>Sign_34_3.jpg</string>
		<string>Sign_34_4.jpg</string>
	</array>
	<key>STEP_35</key>
	<array>
		<string>SWAT</string>
		<string>Sign_35_1.jpg</string>
		<string>Sign_35_2.jpg</string>
		<string>Sign_35_3.jpg</string>
		<string>Sign_35_4.jpg</string>
	</array>
	<key>STEP_36</key>
	<array>
		<string>TANK</string>
		<string>Sign_36_1.jpg</string>
		<string>Sign_36_2.jpg</string>
		<string>Sign_36_3.jpg</string>
		<string>Sign_36_4.jpg</string>
	</array>
	<key>STEP_37</key>
	<array>
		<string>PUTT</string>
		<string>Sign_37_1.jpg</string>
		<string>Sign_37_2.jpg</string>
		<string>Sign_37_3.jpg</string>
		<string>Sign_37_4.jpg</string>
	</array>
	<key>STEP_38</key>
	<array>
		<string>RACE</string>
		<string>Sign_38_1.jpg</string>
		<string>Sign_38_2.jpg</string>
		<string>Sign_38_3.jpg</string>
		<string>Sign_38_4.jpg</string>
	</array>
	<key>STEP_39</key>
	<array>
		<string>WHIP</string>
		<string>Sign_39_1.jpg</string>
		<string>Sign_39_2.jpg</string>
		<string>Sign_39_3.jpg</string>
		<string>Sign_39_4.jpg</string>
	</array>
	<key>STEP_40</key>
	<array>
		<string>DOUBLE</string>
		<string>Sign_40_1.jpg</string>
		<string>Sign_40_2.jpg</string>
		<string>Sign_40_3.jpg</string>
		<string>Sign_40_4.jpg</string>
	</array>
	<key>STEP_41</key>
	<array>
		<string>KNIT</string>
		<string>Sign_41_1.jpg</string>
		<string>Sign_41_2.jpg</string>
		<string>Sign_41_3.jpg</string>
		<string>Sign_41_4.jpg</string>
	</array>
	<key>STEP_42</key>
	<array>
		<string>BIKE</string>
		<string>Sign_42_1.jpg</string>
		<string>Sign_42_2.jpg</string>
		<string>Sign_42_3.jpg</string>
		<string>Sign_42_4.jpg</string>
	</array>
	<key>STEP_43</key>
	<array>
		<string>SAW</string>
		<string>Sign_43_1.jpg</string>
		<string>Sign_43_2.jpg</string>
		<string>Sign_43_3.jpg</string>
		<string>Sign_43_4.jpg</string>
	</array>
	<key>STEP_44</key>
	<array>
		<string>SHAKE</string>
		<string>Sign_44_1.jpg</string>
		<string>Sign_44_2.jpg</string>
		<string>Sign_44_3.jpg</string>
		<string>Sign_44_4.jpg</string>
	</array>
	<key>STEP_45</key>
	<array>
		<string>MOUSE</string>
		<string>Sign_45_1.jpg</string>
		<string>Sign_45_2.jpg</string>
		<string>Sign_45_3.jpg</string>
		<string>Sign_45_4.jpg</string>
	</array>
	<key>STEP_46</key>
	<array>
		<string>TRIANGLE</string>
		<string>Sign_46_1.jpg</string>
		<string>Sign_46_2.jpg</string>
		<string>Sign_46_3.jpg</string>
		<string>Sign_46_4.jpg</string>
	</array>
	<key>STEP_47</key>
	<array>
		<string>THREE</string>
		<string>Sign_47_1.jpg</string>
		<string>Sign_47_2.jpg</string>
		<string>Sign_47_3.jpg</string>
		<string>Sign_47_4.jpg</string>
	</array>
	<key>STEP_48</key>
	<array>
		<string>NINE</string>
		<string>Sign_48_1.jpg</string>
		<string>Sign_48_2.jpg</string>
		<string>Sign_48_3.jpg</string>
		<string>Sign_48_4.jpg</string>
	</array>
	<key>STEP_49</key>
	<array>
		<string>LOVE</string>
		<string>Sign_49_1.jpg</string>
		<string>Sign_49_2.jpg</string>
		<string>Sign_49_3.jpg</string>
		<string>Sign_49_4.jpg</string>
	</array>
	<key>STEP_50</key>
	<array>
		<string>LADY</string>
		<string>Sign_50_1.jpg</string>
		<string>Sign_50_2.jpg</string>
		<string>Sign_50_3.jpg</string>
		<string>Sign_50_4.jpg</string>
	</array>
	<key>STEP_51</key>
	<array>
		<string>FISH</string>
		<string>Sign_51_1.jpg</string>
		<string>Sign_51_2.jpg</string>
		<string>Sign_51_3.jpg</string>
		<string>Sign_51_4.jpg</string>
	</array>
	<key>STEP_52</key>
	<array>
		<string>DUCK</string>
		<string>Sign_52_1.jpg</string>
		<string>Sign_52_2.jpg</string>
		<string>Sign_52_3.jpg</string>
		<string>Sign_52_4.jpg</string>
	</array>
	<key>STEP_53</key>
	<array>
		<string>TEETH</string>
		<string>Sign_53_1.jpg</string>
		<string>Sign_53_2.jpg</string>
		<string>Sign_53_3.jpg</string>
		<string>Sign_53_4.jpg</string>
	</array>
	<key>STEP_54</key>
	<array>
		<string>CAGE</string>
		<string>Sign_54_1.jpg</string>
		<string>Sign_54_2.jpg</string>
		<string>Sign_54_3.jpg</string>
		<string>Sign_54_4.jpg</string>
	</array>
	<key>STEP_55</key>
	<array>
		<string>BALD</string>
		<string>Sign_55_1.jpg</string>
		<string>Sign_55_2.jpg</string>
		<string>Sign_55_3.jpg</string>
		<string>Sign_55_4.jpg</string>
	</array>
	<key>STEP_56</key>
	<array>
		<string>BRAN</string>
		<string>Sign_56_1.jpg</string>
		<string>Sign_56_2.jpg</string>
		<string>Sign_56_3.jpg</string>
		<string>Sign_56_4.jpg</string>
	</array>
	<key>STEP_57</key>
	<array>
		<string>SHINY</string>
		<string>Sign_57_1.jpg</string>
		<string>Sign_57_2.jpg</string>
		<string>Sign_57_3.jpg</string>
		<string>Sign_57_4.jpg</string>
	</array>
	<key>STEP_58</key>
	<array>
		<string>SIGHT</string>
		<string>Sign_58_1.jpg</string>
		<string>Sign_58_2.jpg</string>
		<string>Sign_58_3.jpg</string>
		<string>Sign_58_4.jpg</string>
	</array>
	<key>STEP_59</key>
	<array>
		<string>HALF</string>
		<string>Sign_59_1.jpg</string>
		<string>Sign_59_2.jpg</string>
		<string>Sign_59_3.jpg</string>
		<string>Sign_59_4.jpg</string>
	</array>
	<key>STEP_60</key>
	<array>
		<string>HEAD</string>
		<string>Sign_60_1.jpg</string>
		<string>Sign_60_2.jpg</string>
		<string>Sign_60_3.jpg</string>
		<string>Sign_60_4.jpg</string>
	</array>
	<key>STEP_61</key>
	<array>
		<string>FOOT</string>
		<string>Sign_61_1.jpg</string>
		<string>Sign_61_2.jpg</string>
		<string>Sign_61_3.jpg</string>
		<string>Sign_61_4.jpg</string>
	</array>
	<key>STEP_62</key>
	<array>
		<string>HALL</string>
		<string>Sign_62_1.jpg</string>
		<string>Sign_62_2.jpg</string>
		<string>Sign_62_3.jpg</string>
		<string>Sign_62_4.jpg</string>
	</array>
	<key>STEP_63</key>
	<array>
		<string>HAIR</string>
		<string>Sign_63_1.jpg</string>
		<string>Sign_63_2.jpg</string>
		<string>Sign_63_3.jpg</string>
		<string>Sign_63_4.jpg</string>
	</array>
	<key>STEP_64</key>
	<array>
		<string>FOUR</string>
		<string>Sign_64_1.jpg</string>
		<string>Sign_64_2.jpg</string>
		<string>Sign_64_3.jpg</string>
		<string>Sign_64_4.jpg</string>
	</array>
	<key>STEP_65</key>
	<array>
		<string>ILL</string>
		<string>Sign_65_1.jpg</string>
		<string>Sign_65_2.jpg</string>
		<string>Sign_65_3.jpg</string>
		<string>Sign_65_4.jpg</string>
	</array>
	<key>STEP_66</key>
	<array>
		<string>FUR</string>
		<string>Sign_66_1.jpg</string>
		<string>Sign_66_2.jpg</string>
		<string>Sign_66_3.jpg</string>
		<string>Sign_66_4.jpg</string>
	</array>
	<key>STEP_67</key>
	<array>
		<string>FEET</string>
		<string>Sign_67_1.jpg</string>
		<string>Sign_67_2.jpg</string>
		<string>Sign_67_3.jpg</string>
		<string>Sign_67_4.jpg</string>
	</array>
	<key>STEP_68</key>
	<array>
		<string>EYE</string>
		<string>Sign_68_1.jpg</string>
		<string>Sign_68_2.jpg</string>
		<string>Sign_68_3.jpg</string>
		<string>Sign_68_4.jpg</string>
	</array>
	<key>STEP_69</key>
	<array>
		<string>DEW</string>
		<string>Sign_69_1.jpg</string>
		<string>Sign_69_2.jpg</string>
		<string>Sign_69_3.jpg</string>
		<string>Sign_69_4.jpg</string>
	</array>
	<key>STEP_70</key>
	<array>
		<string>CRUISE</string>
		<string>Sign_70_1.jpg</string>
		<string>Sign_70_2.jpg</string>
		<string>Sign_70_3.jpg</string>
		<string>Sign_70_4.jpg</string>
	</array>
	<key>STEP_71</key>
	<array>
		<string>CORD</string>
		<string>Sign_71_1.jpg</string>
		<string>Sign_71_2.jpg</string>
		<string>Sign_71_3.jpg</string>
		<string>Sign_71_4.jpg</string>
	</array>
	<key>STEP_72</key>
	<array>
		<string>CHILLI</string>
		<string>Sign_72_1.jpg</string>
		<string>Sign_72_2.jpg</string>
		<string>Sign_72_3.jpg</string>
		<string>Sign_72_4.jpg</string>
	</array>
	<key>STEP_73</key>
	<array>
		<string>CEREAL</string>
		<string>Sign_73_1.jpg</string>
		<string>Sign_73_2.jpg</string>
		<string>Sign_73_3.jpg</string>
		<string>Sign_73_4.jpg</string>
	</array>
	<key>STEP_74</key>
	<array>
		<string>CENT</string>
		<string>Sign_74_1.jpg</string>
		<string>Sign_74_2.jpg</string>
		<string>Sign_74_3.jpg</string>
		<string>Sign_74_4.jpg</string>
	</array>
	<key>STEP_75</key>
	<array>
		<string>BUY</string>
		<string>Sign_75_1.jpg</string>
		<string>Sign_75_2.jpg</string>
		<string>Sign_75_3.jpg</string>
		<string>Sign_75_4.jpg</string>
	</array>
	<key>STEP_76</key>
	<array>
		<string>BREAD</string>
		<string>Sign_76_1.jpg</string>
		<string>Sign_76_2.jpg</string>
		<string>Sign_76_3.jpg</string>
		<string>Sign_76_4.jpg</string>
	</array>
	<key>STEP_77</key>
	<array>
		<string>BLUE</string>
		<string>Sign_77_1.jpg</string>
		<string>Sign_77_2.jpg</string>
		<string>Sign_77_3.jpg</string>
		<string>Sign_77_4.jpg</string>
	</array>
	<key>STEP_78</key>
	<array>
		<string>BITE</string>
		<string>Sign_78_1.jpg</string>
		<string>Sign_78_2.jpg</string>
		<string>Sign_78_3.jpg</string>
		<string>Sign_78_4.jpg</string>
	</array>
	<key>STEP_79</key>
	<array>
		<string>BEAT</string>
		<string>Sign_79_1.jpg</string>
		<string>Sign_79_2.jpg</string>
		<string>Sign_79_3.jpg</string>
		<string>Sign_79_4.jpg</string>
	</array>
	<key>STEP_80</key>
	<array>
		<string>BASS</string>
		<string>Sign_80_1.jpg</string>
		<string>Sign_80_2.jpg</string>
		<string>Sign_80_3.jpg</string>
		<string>Sign_80_4.jpg</string>
	</array>
	<key>STEP_81</key>
	<array>
		<string>BERRY</string>
		<string>Sign_81_1.jpg</string>
		<string>Sign_81_2.jpg</string>
		<string>Sign_81_3.jpg</string>
		<string>Sign_81_4.jpg</string>
	</array>
	<key>STEP_82</key>
	<array>
		<string>BEAR</string>
		<string>Sign_82_1.jpg</string>
		<string>Sign_82_2.jpg</string>
		<string>Sign_82_3.jpg</string>
		<string>Sign_82_4.jpg</string>
	</array>
	<key>STEP_83</key>
	<array>
		<string>AISLE</string>
		<string>Sign_83_1.jpg</string>
		<string>Sign_83_2.jpg</string>
		<string>Sign_83_3.jpg</string>
		<string>Sign_83_4.jpg</string>
	</array>
	<key>STEP_84</key>
	<array>
		<string>AIR</string>
		<string>Sign_84_1.jpg</string>
		<string>Sign_84_2.jpg</string>
		<string>Sign_84_3.jpg</string>
		<string>Sign_84_4.jpg</string>
	</array>
	<key>STEP_85</key>
	<array>
		<string>CELL</string>
		<string>Sign_85_1.jpg</string>
		<string>Sign_85_2.jpg</string>
		<string>Sign_85_3.jpg</string>
		<string>Sign_85_4.jpg</string>
	</array>
	<key>STEP_86</key>
	<array>
		<string>BREAK</string>
		<string>Sign_86_1.jpg</string>
		<string>Sign_86_2.jpg</string>
		<string>Sign_86_3.jpg</string>
		<string>Sign_86_4.jpg</string>
	</array>
	<key>STEP_87</key>
	<array>
		<string>ROUND</string>
		<string>Sign_87_1.jpg</string>
		<string>Sign_87_2.jpg</string>
		<string>Sign_87_3.jpg</string>
		<string>Sign_87_4.jpg</string>
	</array>
	<key>STEP_88</key>
	<array>
		<string>KNOT</string>
		<string>Sign_88_1.jpg</string>
		<string>Sign_88_2.jpg</string>
		<string>Sign_88_3.jpg</string>
		<string>Sign_88_4.jpg</string>
	</array>
	<key>STEP_89</key>
	<array>
		<string>DIAMOND</string>
		<string>Sign_89_1.jpg</string>
		<string>Sign_89_2.jpg</string>
		<string>Sign_89_3.jpg</string>
		<string>Sign_89_4.jpg</string>
	</array>
	<key>STEP_90</key>
	<array>
		<string>SWEET</string>
		<string>Sign_90_1.jpg</string>
		<string>Sign_90_2.jpg</string>
		<string>Sign_90_3.jpg</string>
		<string>Sign_90_4.jpg</string>
	</array>
	<key>STEP_91</key>
	<array>
		<string>MAP</string>
		<string>Sign_91_1.jpg</string>
		<string>Sign_91_2.jpg</string>
		<string>Sign_91_3.jpg</string>
		<string>Sign_91_4.jpg</string>
	</array>
	<key>STEP_92</key>
	<array>
		<string>SWING</string>
		<string>Sign_92_1.jpg</string>
		<string>Sign_92_2.jpg</string>
		<string>Sign_92_3.jpg</string>
		<string>Sign_92_4.jpg</string>
	</array>
	<key>STEP_93</key>
	<array>
		<string>DARK</string>
		<string>Sign_93_1.jpg</string>
		<string>Sign_93_2.jpg</string>
		<string>Sign_93_3.jpg</string>
		<string>Sign_93_4.jpg</string>
	</array>
	<key>STEP_94</key>
	<array>
		<string>TIE</string>
		<string>Sign_94_1.jpg</string>
		<string>Sign_94_2.jpg</string>
		<string>Sign_94_3.jpg</string>
		<string>Sign_94_4.jpg</string>
	</array>
	<key>STEP_95</key>
	<array>
		<string>SQUARE</string>
		<string>Sign_95_1.jpg</string>
		<string>Sign_95_2.jpg</string>
		<string>Sign_95_3.jpg</string>
		<string>Sign_95_4.jpg</string>
	</array>
	<key>STEP_96</key>
	<array>
		<string>SIGN</string>
		<string>Sign_96_1.jpg</string>
		<string>Sign_96_2.jpg</string>
		<string>Sign_96_3.jpg</string>
		<string>Sign_96_4.jpg</string>
	</array>
	<key>STEP_97</key>
	<array>
		<string>ROW</string>
		<string>Sign_97_1.jpg</string>
		<string>Sign_97_2.jpg</string>
		<string>Sign_97_3.jpg</string>
		<string>Sign_97_4.jpg</string>
	</array>
	<key>STEP_98</key>
	<array>
		<string>ROUTE</string>
		<string>Sign_98_1.jpg</string>
		<string>Sign_98_2.jpg</string>
		<string>Sign_98_3.jpg</string>
		<string>Sign_98_4.jpg</string>
	</array>
	<key>STEP_99</key>
	<array>
		<string>ROCK</string>
		<string>Sign_99_1.jpg</string>
		<string>Sign_99_2.jpg</string>
		<string>Sign_99_3.jpg</string>
		<string>Sign_99_4.jpg</string>
	</array>
	<key>STEP_100</key>
	<array>
		<string>POLE</string>
		<string>Sign_100_1.jpg</string>
		<string>Sign_100_2.jpg</string>
		<string>Sign_100_3.jpg</string>
		<string>Sign_100_4.jpg</string>
	</array>
</dict>
</plist>
